@{
    ViewBag.Title = "Home Page";
}

<div ng-controller="DictionaryCtrl">
  <div class="row">
    <div class="col-lg-12">
        <textarea class="form-control" rows="10" cols="300" ng-model="userInput"></textarea>
        <button ng-click="getDictionary()" class="center">Get definitions</button>
    </div>
  </div>
</div> 